# Specific for common MinnPost projects
node_modules/
components/
bower_components/
!dist/
!js/build
dist/data.js
dist/templates.js

# Big data
data/Hennepin_County_Tax_Property_Base*
data-processing/mapbox-hennepin-parcels/layers

# General git ignores
.sass-cache
.tmp
tmp/
.DS_Store
*.psd
*.[oa]
*.py[co]
*.rbc
*.egg
*.egg-info
develop-eggs
.installed.cfg
.Python
pip-log.txt
.coverage
.tox
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
