/**
 * Main styles for: minnpost-hennepin-county-parcels
 */

// This makes the unpublished background not as annoying
body .node-unpublished {
  background-repeat: no-repeat;
}

// Wrap everything for specificity
.mp .minnpost-hennepin-county-parcels-container {

  .application-container {
    padding-top: 1em;
  }

  #h-county-parcels {
    height: 44em;
  }

  .legend {
    text-align: center;
    padding-top: 1em;
    margin-bottom: 2em;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        width: 12%;
        margin: 0 .1em 1em 0;

        span {
          display: block;
          height: 1.25em;
          margin-bottom: .25em;
          border-radius: .1em;
        }
      }
    }
  }


  // Custom breakpoints
  @media screen and (max-width: 500px) {
    .legend ul li {
      font-size: .85em;
    }
  }
}
