/**
 * Main styles for: minnpost-hennepin-county-parcels
 */

// This makes the unpublished background not as annoying
body .node-unpublished {
  background-repeat: no-repeat;
}

.mp .browser-upgrade-note {
  background-color: #F1F1F1;
  padding: 2em 3em;
}

// Wrap everything for specificity
.mp .minnpost-hennepin-county-parcels-container {

  .application-container {
    padding-top: 1.5em;
    margin-bottom: 1.5em;
  }

  #h-county-parcels {
    height: 44em;
  }

  .legend {
    text-align: center;
    padding-top: 1em;
    margin-bottom: 2em;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        width: 9%;
        margin: 0 0.25% 1em 0;
        font-size: .85em;
        vertical-align: top;

        span {
          display: block;
          height: 1.25em;
          margin-bottom: .25em;
          border-radius: .1em;
        }
      }
    }
  }


  // Custom breakpoints
  @media screen and (max-width: 550px) {
    .legend ul li {
      font-size: .75em;
      width: 17%;
    }


    #h-county-parcels {
      height: 30em;
    }
  }
}
